# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
build/
dist/
dist_standalone/
dist_local_run/
pyinstaller_build/
pyinstaller_build_run/

# Virtual environments
.venv/
venv/

# IDEs
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml

# Local ATDL samples (keep private, not published)
sample_atdl.xml
sample_atdl_v1.xml
sample_atdl*.xml

# OS
Thumbs.db
Desktop.ini
.DS_Store
